In [8]:
%pip install osmapi pandas geopandas shapely matplotlib

Requirement already satisfied: osmapi in /srv/conda/envs/notebook/lib/python3.10/site-packages (4.1.0)
Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: geopandas in /srv/conda/envs/notebook/lib/python3.10/site-packages (1.0.1)
Requirement already satisfied: shapely in /srv/conda/envs/notebook/lib/python3.10/site-packages (2.0.5)
Requirement already satisfied: matplotlib in /srv/conda/envs/notebook/lib/python3.10/site-packages (3.9.1)
Requirement already satisfied: requests in /srv/conda/envs/notebook/lib/python3.10/site-packages (from osmapi) (2.32.3)
Requirement already satisfied: numpy>=1.22.4 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: pyogrio>=0.7.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from geopandas) (0.9.0)
Requirement already satisfied: packaging in /srv/conda/envs/notebook/lib/python3.10/site-packages (from geopandas) (24.1)
Requirement already satisfied: pyproj>=3.3.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from geopandas) (3.6.1)
Requirement already satisfied: contourpy>=1.0.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: pillow>=8 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: certifi in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pyogrio>=0.7.2->geopandas) (2024.6.2)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from requests->osmapi) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from requests->osmapi) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from requests->osmapi) (2.2.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import matplotlib.pyplot as plt

# Leggere il file TSV
file_path = 'ita.tsv'
df = pd.read_csv(file_path, delimiter='\t')

# Stampa i nomi delle colonne per verificare
#print("Nomi delle colonne:", df.columns)

# Selezionare le colonne rilevanti e correggere eventuali spazi
df.columns = [col.strip() for col in df.columns]  # Rimuovere spazi extra dai nomi delle colonne
df = df[['geonameid', 'name', 'latitude', 'longitude', 'featureclass', 'featurecode', 'population', 'elevation']]

/tmp/ipykernel_358/1892549611.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, delimiter='\t')

In [6]:
df

,geonameid,name,latitude,longitude,featureclass,featurecode,population,elevation
0,781057,Fosso di San Antonio,846.33.00,1304.47.00,H,STM,0,NaN
1,781059,Colognole,892.32.00,757.13.00,P,PPL,128,210.0
2,781060,Casale Sant'Antonio,1075.47.00,48.15.00,P,PPL,59,NaN
3,2522617,Graham Island,274.46.00,1480.46.00,U,SHLU,0,NaN
4,2522676,Zungti,39.05.00,1653.53.00,P,PPL,0,NaN
...,...,...,...,...,...,...,...,...
123766,12952419,Fadmer Alm,1590.16.00,154.39.00,S,FRM,0,2155.0
123767,12952420,Madritsch,54.14.00,20.14,S,HSE,0,2825.0
123768,12954050,Traminer Alm,1366.27.00,89.35.00,S,FRM,0,2100.0
123769,12954051,Absam,106.45.00,20.05,S,HSE,0,2125.0
123770,12954053,Serralta di San Vito,39.15.00,16.37,T,MT,0,998.0

In [5]:



# Aggiungere dettagli geografici basati sul 'feature code'
def classify_geography(feature_code):
    if feature_code in ['MT', 'MTS']:  # Montagna, Montagne
        return 'montagna'
    elif feature_code in ['LK', 'LKS', 'LGN']:  # Lago, Laghi, Laguna
        return 'lago'
    elif feature_code in ['HBR', 'COVE', 'PPL', 'PPLA']:  # Porto, Baia, Paese
        return 'mare'
    elif feature_code in ['PRK', 'RES']:  # Parco, Riserva
        return 'parco'
    elif feature_code in ['STM', 'WAD']:  # Fiume, Fiumara
        return 'fiume'
    elif feature_code in ['ISL', 'ISLS']:  # Isola, Isole
        return 'isola'
    else:
        return 'n/a'

df['geography'] = df['feature code'].apply(classify_geography)

# Convertire lat/lon in punti geometrici
df['latitude'] = pd.to_numeric(df['latitude'], errors='coerce')
df['longitude'] = pd.to_numeric(df['longitude'], errors='coerce')
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.longitude, df.latitude))

# Filtrare per cittÃ  con caratteristiche geografiche specifiche
gdf_filtered = gdf[gdf['geography'] != 'n/a']

# Visualizzare le prime righe del DataFrame
print(gdf_filtered.head())

# Visualizzazione dei dati
gdf_filtered.plot(marker='o', color='red', markersize=5)
plt.title('Caratteristiche Geografiche delle CittÃ  Italiane')
plt.xlabel('Longitude')
plt.ylabel('Latitude')
plt.show()

# Salva i dati in un file CSV
output_file = 'italian_cities_with_geography.csv'
gdf_filtered.to_csv(output_file, index=False)

print(f"Dataset salvato in {output_file}")

NameError: name 'df' is not defined